<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}%boldYellow(%replace( [%X{cid}] ){' \[\] ', ' '})[%-33thread] %highlight(%-5level) %cyan(%-40logger{36}) - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="runtime4s.Hierarchy" level="${LOG_LEVEL:-TRACE}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>